{% extends 'index.html.twig' %}

{% block title %}ProgrammePersonnalise{% endblock %}

{% block body %}
<style>
  .back-link {
    color: orange;
    /* Change color to your preferred color */
    text-decoration: none;
    /* Remove default underline */
    font-size: 24px;
    /* Adjust font size as needed */
    margin-right: 10px;
    /* Add some margin to the right */
  }

  .back-link:hover {
    color: orange;
  }
</style>
<div class="container">
  <a href="{{ path('app_home') }}" class="back-link">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <div class="d-flex align-items-center">
    <h1>Programme {{ programme_personnalise.objectif }}</h1>
  </div>
  <br>
  <table class="table">
    <tbody>
      <tr>
        <th>Objectif</th>
        <td>{{ programme_personnalise.objectif }}</td>
      </tr>

      <tr>
        <th>Exercices</th>
        <td>
          <ul>
            {% for exercice in programme_personnalise.exercices %}

            <li>{{ exercice.nom }}<ul>
                <li>Sets:{{ exercice.nbrdeset }}</li>
                <li>Repetition:{{ exercice.nbrderepetitions }}</li>
              </ul>
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}