{{ form_start(form) }}
    {{ form_row(form.type) }}
  {{ form_row(form.prix) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {{ form_row(form.etat) }}

    {{ form_row(form.idAdherent) }}
    {{ form_row(form.idBilanFinancier) }}

    <button class="btn">{{ button_label|default('sauvegarder') }}</button>
{{ form_end(form) }}
