{% extends 'back.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
    <h1>Abonnement index</h1>
      <div>
        <form method="get" action="{{ path('app_abonnement_index') }}">
            <label for="type_filter">Filtrer par type :</label>
            <select name="type_filter" id="type_filter">
                <option value="">Tous</option>
                <option value="annuel">Annuel</option>
                <option value="mensuel">Mensuel</option>
            </select>
            <button type="submit">Filtrer</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Prix</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Etat</th>
                <th>Adhérent</th>

              <th>Bilan Financier</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for abonnement in abonnements %}
    <tr>
        <td>{{ abonnement.id }}</td>
        <td>{{ abonnement.type }}</td>
        <td>{{ abonnement.prix }}</td>
        <td>{{ abonnement.dateDebut ? abonnement.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ abonnement.dateFin ? abonnement.dateFin|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ abonnement.etat }}</td>
        <td>{{ abonnement.idAdherent.id }}</td> {# Accessing adherent's name #}

        <td>{{ abonnement.idBilanFinancier.id }}</td> {# Accessing financial statement ID #}
        
        <td>
            <a href="{{ path('app_abonnement_show', {'id': abonnement.id}) }}">show</a>
            <a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7">no records found</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_abonnement_new') }}">Create new</a>
{% endblock %}
