{% extends 'back.html.twig' %}
{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ abonnement.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ abonnement.prix }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ abonnement.dateDebut ? abonnement.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ abonnement.dateFin ? abonnement.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ abonnement.etat }}</td>
            </tr>
            <tr>
               <th>Adhérent</th>
<td>{{ abonnement.idAdherent is not null ? abonnement.idAdherent.id : 'Non associé' }}</td>

            </tr>
            <tr>
              <th>Bilan Financier</th>
<td>{{ abonnement.idBilanFinancier is not null ? abonnement.idBilanFinancier.id : 'Non associé' }}</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_index') }}">Retour à la liste</a>

    <a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>

    {{ include('abonnement/_delete_form.html.twig') }}
{% endblock %}
