{% extends 'back.html.twig' %}
{% block title %}Liste des bilans financiers {% endblock %}

{% block body %}
    <h1>Liste des bilans financiers </h1>
     <div>
        <a href="{{ path('app_bilan_financier_index', {'sort': 'profit', 'direction': 'desc'}) }}">Trier par Profit (Desc)</a>
        <a href="{{ path('app_bilan_financier_index', {'sort': 'revenusAbonnements', 'direction': 'desc'}) }}">Trier par Revenus Abonnements (Desc)</a>
        <a href="{{ path('app_bilan_financier_index', {'sort': 'revenusProduits', 'direction': 'desc'}) }}">Trier par Revenus Produits (Desc)</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Mois</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>SalairesCoachs</th>
                <th>PrixLocation</th>
                <th>RevenusAbonnements</th>
                <th>RevenusProduits</th>
                <th>Depenses</th>
                <th>Profit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bilan_financier in bilan_financiers %}
            <tr>
               <td>{{ bilan_financier.dateDebut|date('n')|translate_month }}</td>
                <td>{{ bilan_financier.dateDebut ? bilan_financier.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ bilan_financier.dateFin ? bilan_financier.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ bilan_financier.salairesCoachs }}</td>
                <td>{{ bilan_financier.prixLocation }}</td>
                <td>{{ bilan_financier.revenusAbonnements }}</td>
                <td>{{ bilan_financier.revenusProduits }}</td>
                <td>{{ bilan_financier.depenses }}</td>
                <td>{{ bilan_financier.profit }}</td>
                <td>
                    <a href="{{ path('app_bilan_financier_show', {'id': bilan_financier.id}) }}">show</a>
                    <a href="{{ path('app_bilan_financier_edit', {'id': bilan_financier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bilan_financier_new') }}">Créer un nouveau bilan financier</a>
{% endblock %}
