<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rapport financier mensuel</title>
    <style>
        /* Ajoutez votre style CSS ici */
        body {
            font-family: Arial, sans-serif;
        }
        /* Autres styles CSS */
    </style>
</head>
<body>
    <h1>E-Flex Gym - Rapport financier mensuel - Mois {{ month }}</h1>
  
    <h2>Rapport détaillé du bilan financier</h2>

    <p>Revenus des abonnements : {{ revenusAbonnements }}</p>
    <p>Revenus des produits : {{ revenusProduits }}</p>
    <p>Dépenses : {{ depenses }}</p>
    <p>Profit : {{ profit }}</p>
    <!-- Autres informations financières -->
</body>
</html>
