{% extends 'index.html.twig' %}

{% block title %}SuiviProgre{% endblock %}

{% block body %}

<style>
    .back-link {
        color: orange;
        /* Change color to your preferred color */
        text-decoration: none;
        /* Remove default underline */
        font-size: 24px;
        /* Adjust font size as needed */
        margin-right: 10px;
        /* Add some margin to the right */
    }

    .back-link:hover {
        color: orange;
    }

    .programmeLink {
        color: orange;
        /* Change color to your preferred color */
        text-decoration: none;
        /* Remove default underline */
        font-size: 24px;
        /* Adjust font size as needed */
        margin-right: 10px;
        /* Add some margin to the right */
    }

    .programmeLink:hover {
        color: orange;
    }
</style>
<div class="container">
    <a href="{{ path('app_home') }}" class="back-link">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <div class="d-flex align-items-center">
        <h1>Suivi Progre</h1>
    </div>
    <br>
    <h6>
        {{ evaluation_message }}
    </h6>
    <h5>
        Voir le programme <a class="programmeLink"
            href="{{ path('app_programme_personnalise_showFront', {'id': programmeToFollow.id}) }}"> {{
            programmeToFollow.objectif }}</a>Courage!"
    </h5>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suivi_progre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ suivi_progre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ suivi_progre.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ suivi_progre.age }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ suivi_progre.taille }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ suivi_progre.poids }}</td>
            </tr>
            <tr>
                <th>Tour De Taille</th>
                <td>{{ suivi_progre.tourDeTaille }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ suivi_progre.sexe }}</td>
            </tr>
            <tr>
                <th>num ticket</th>
                <td>{{ suivi_progre.iduser }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-auto">
            <a class="btn btn-success" href="{{ path('app_suivi_progre_edit', {'id': suivi_progre.id}) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </div>
        <div class="col-auto">
            {{ include('suivi_progre/_delete_form.html.twig') }}
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="{{ path('generate_pdf', {'id': suivi_progre.id}) }}">
                <i class="fa-solid fa-file-pdf"></i>
            </a>
        </div>
    </div>

</div>
<br>
{% endblock %}